*{
    margin: 0;
    padding: 0;
}


.img1{
    color: white;
    height: 99vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font: monospace;
    font-size: large;
    background-image: url(https://i.redd.it/vo9vm1fcqrp71.jpg) ;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.black{
    background-color: black;
    color: white;
    height: 1500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font: monospace;
    font-size: large;
}

.img2{
    color: white;
    height: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font: monospace;
    font-size: large;
    background-image: url(https://i.pinimg.com/originals/bc/a1/90/bca19096a0def30ba652264dbce98d88.jpg) ;
    background-repeat: no-repeat;
    background-size: 100%;
}

.parallax{
    background-attachment: fixed;
}